/**

    Main Styles

    Targets small devices. See styles-small,
    styles-medium, styles-large and styles-xlarge
    for large device overrides.

    Author: Christiaan Lombard

*/


/**
    User Agent Overrides
*/
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    font-size: 14px;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Patua One', cursive;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #546E7A;
}

a:hover {
    color: #78909C;
    text-decoration: underline;
}


/**
    Shared Classes

    .section - Sections have default padding and border
    .contain - Sections centered on large devices

*/
.contain {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 24px 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid #CFD8DC;
    border-right: 1px solid #CFD8DC;
}

.section.dark {
    background-color: #546E7A;
    color: white;
}

.section-title {
    font-size: 32px;
    width: 100%;
    text-align: center;
}

.section-divider {
    height: 18px;
    background-color: #E0E0E0;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}




/**
    Header

    The header contains branding and main navigation

*/
.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #212121;
    box-sizing: border-box;

    border-left: 1px solid #CFD8DC;
    border-right: 1px solid #CFD8DC;
}

.header .logo {
    border-radius: 50%;
    padding: 12px;
    width: 128px;
    height: 128px;
    box-sizing: border-box;
}

.header .title {
    font-size: 36px;
    text-align: center;
    flex: 1 1 auto;
    margin: 0;
    margin-bottom: 6px;
    line-height: 36px;
}

.header .title small {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/**
    Main Navigation

    Displays as columns by default,
    rows for larger devices.

*/
.header .nav {
    width: 100%;
}

.nav-tabs {
    display: flex;
    flex-flow: row wrap;
    list-style:  none;
    align-content:  stretch;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-tabs li {
    display:  inline;
    flex: 1 1 auto;
    text-align: center;
}

.nav-tabs li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    text-transform: uppercase;
    color: #212121;
    font-weight: 600;
}

.nav-tabs li a.active {
    border-bottom: 2px solid #90A4AE;
}

.nav-tabs li a:hover {
    background-color: #ECEFF1;
}


/**

    Main

    The main content area between
    the header and footer

*/
.main {
    position: relative;
}


/**

    Contact Box

    Contact boxes contain social links.
    Two contact boxes exist and is
    shown or hidden based on device size.
    Only one contact box is shown at a given time.


*/
.contact-box {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

.contact-box i {
    font-size: 24px;
    text-decoration: none;
    vertical-align: text-bottom;
}

.contact-box .contact-link {
    display: block;
    line-height: 48px;
}

.header .contact-box {
    display: none;
}

.main .contact-box {
    background-color: #607D8B;
}

.main .contact-box .contact-link {
    color: white;
}



/**

    Banner Section

    A banner full-width image


*/
.section-banner {
    background-image: url("../images/banner_2400.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
}



/**

    Projects Section

    Cards containing project info and project image.
    Elevates on hover.


*/
.section-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.project-article {
    width: 29%;
    min-width: 320px;
    box-sizing: border-box;
    border: 1px solid #CFD8DC;
    margin: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 300ms ease-in;
}

.project-article:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-content {
    padding: 12px;
}

.project-title {
    margin: 0;
}

.project-link {
    display: block;
    line-height: 36px;
}

.project-image {
    display: block;
    width: 100%;
}

/**

    About Section

    Contains text with an image

*/
.section-about {
    display: flex;
    flex-flow: row wrap;
    padding: 24px;
    justify-content: center;
}

.about-content {
    /* width: 50%; */
    max-width: 600px;
    min-width: 250px;
}

.about-image {
    /* width: 50%; */
    max-width: 320px;
    min-width: 200px;
}

.about-image img {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 1em;
}



/**

    Footer

    Nothing here really

*/
.footer {
    /* background-color: #CFD8DC; */
    text-align: center;
    padding: 32px 24px;
}