/**

    Medium Styles

    min-width: 580px

    Targets medium devices.

    Author: Christiaan Lombard

*/

/**

    Header Overrides

    The navigation is more narrow allowing
    for an enlarged logo.

*/
.header .logo {
    width: 156px;
    height: 156px;
    margin-bottom: -36px;
}

.header .title {
    text-align: right;
    padding-right: 32px;
    font-size: 40px;
}

.header .title small {
    font-size: 18px;
}

.nav-tabs {
    padding-left: 256px;
}


/**

    Contact Box Overrides

    The contact box is now narrow
    and placed over the banner

*/
.main .contact-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 300px;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}