/**

    X-Large Styles

    Targets > 1200px devices.

    Author: Christiaan Lombard

*/


/**

    Contact Box Overrides

    The main contact box is hidden
    and the contact box inside the header
    is revealed.

*/
.header .contact-box {
    display: block;
    width: auto;
    text-align: left;
    padding: 0 32px;
    border-left: 2px solid #CFD8DC;
}

.main .contact-box {
    display: none;
}

/**

    Banner Overrides

    Use a larger background image

*/
.section-banner {
    background-image: url("../images/banner_1200.jpg");
}