/**

    Large Styles

    min-width: 920px

    Targets large devices.

    Author: Christiaan Lombard

*/


/**

    Header Overrides

    The navigation is moved next to the
    title and logo.

*/
.header .title {
    margin-bottom: 0;
}

.header .logo {
    width: 128px;
    height: 128px;
    margin-bottom: 0;
}

.header .nav {
    width: 300px;
    align-self:  stretch;
}

.nav-tabs {
    padding-left: 0;
    border-left: 1px solid #CFD8DC;
}

.nav-tabs li {
    width: 100%;
}

/**

    Banner Overrides

    The banner is enlarged.

*/
.section-banner {
    height: 400px;
}

