/**

    Medium Styles

    Targets 580-919px devices.

    Author: Christiaan Lombard

*/

/**

    Header Overrides

    The navigation is more narrow allowing
    for an enlarged logo.

*/
.header .logo {
    width: 156px;
    height: 156px;
    margin-bottom: -36px;
}

.header .logo .logo-mask {
    line-height: 124px;
}

.header .title {
    text-align: right;
    padding-right: 32px;
    font-size: 40px;
}

.header .title small {
    font-size: 18px;
}

.nav-tabs {
    padding-left: 256px;
}


/**

    Contact Box Overrides

    The contact box is now narrow
    and placed over the banner

*/
.main .contact-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 300px;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/**

    Banner Overrides

    Use a larger background image

*/
.section-banner {
    background-image: url("../images/banner_920.jpg");
}


/**

    Projects Section Overrides

    Project articles narrower
    so more fit in a row

*/

.project-article {
    max-width: 250px;
}